{
  "openapi": "3.1.0",
  "info": {
    "title": "YepAPI",
    "version": "1.0.0",
    "description": "Unified developer API — one key for SEO, SERP, web scraping, AI chat, AI media, YouTube, TikTok, Instagram, and Amazon data. Spec generated from the docs.",
    "contact": {
      "url": "https://yepapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.yepapi.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "ok",
          "error"
        ]
      }
    }
  },
  "paths": {
    "/v1/ai/chat": {
      "post": {
        "operationId": "aiChat",
        "summary": "GLM 5",
        "description": "Zhipu's general-purpose model. Reliable performance for a wide range of tasks with competitive pricing. Cost: $0.01/call.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model ID (e.g. z-ai/glm-5)"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of { role, content } objects"
                  },
                  "maxTokens": {
                    "type": "number",
                    "description": "Maximum tokens in the response"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature (0.0–2.0)",
                    "default": 1
                  },
                  "topP": {
                    "type": "number",
                    "description": "Nucleus sampling threshold",
                    "default": 1
                  },
                  "frequencyPenalty": {
                    "type": "number",
                    "description": "Penalize repeated tokens",
                    "default": 0
                  },
                  "presencePenalty": {
                    "type": "number",
                    "description": "Penalize tokens already present",
                    "default": 0
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable SSE streaming",
                    "default": false
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "model": "z-ai/glm-5",
                    "message": {
                      "role": "assistant",
                      "content": "Subject: Re: Meeting Invitation\n\nThank you for the invitation. Unfortunately, I have a prior commitment at that time and won't be able to attend. I'd appreciate it if you could share the meeting notes afterward."
                    },
                    "usage": {
                      "promptTokens": 14,
                      "completionTokens": 96,
                      "totalTokens": 110
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "operationId": "aiChatCompletions",
        "summary": "Chat Completions",
        "description": "Unified endpoint for 70+ LLM models. OpenAI-compatible drop-in replacement — just change the base URL. Cost: $0.01/call.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/models": {
      "get": {
        "operationId": "aiModels",
        "summary": "List AI Models",
        "description": "List all available chat models with pricing and metadata. Free.",
        "tags": [
          "AI"
        ],
        "responses": {
          "200": {
            "description": "Model catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/best-sellers": {
      "post": {
        "operationId": "amazonBestSellers",
        "summary": "Best Sellers",
        "description": "Get Amazon's best sellers, hot new releases, or most-wished-for items for any category. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "description": "Amazon leaf category slug (e.g. software, home-garden) — see /v1/amazon/categories"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "type": {
                    "type": "string",
                    "description": "BEST_SELLERS, HOT_NEW_RELEASES, HIGH_RATED",
                    "default": "BEST_SELLERS"
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (50 items/page)",
                    "default": 1
                  }
                },
                "required": [
                  "category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "ccb92b08-2845-4f7d-a2c5-aa9ef0bd5e85",
                    "parameters": {
                      "country": "US",
                      "type": "BEST_SELLERS",
                      "page": 1,
                      "category": "software"
                    },
                    "data": {
                      "best_sellers": [
                        {
                          "rank": 1,
                          "asin": "B0FWV56H48",
                          "product_title": "TurboTax Deluxe Desktop Edition 2025, Federal & State Tax Return [Win11/Mac14 Download]",
                          "product_price": "$79.99",
                          "product_star_rating": "3.7",
                          "product_num_ratings": 4969,
                          "product_url": "https://www.amazon.com/dp/B0FWV56H48",
                          "product_photo": "https://images-na.ssl-images-amazon.com/images/I/71OcM906MLL._AC_UL900_SR900,600_.jpg",
                          "rank_change_label": null
                        },
                        {
                          "rank": 2,
                          "asin": "B0FRPW868X",
                          "product_title": "H&R Block Tax Software Deluxe + State 2025 Win/Mac",
                          "product_price": "$49.97",
                          "product_star_rating": "3.8",
                          "product_num_ratings": 2300,
                          "product_url": "https://www.amazon.com/dp/B0FRPW868X",
                          "product_photo": "https://images-na.ssl-images-amazon.com/images/I/611uM-FzipL._AC_UL900_SR900,600_.jpg",
                          "rank_change_label": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/categories": {
      "post": {
        "operationId": "amazonCategories",
        "summary": "Categories",
        "description": "List all Amazon top-level browse categories and their IDs for a given country. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "e2a81e08-6840-48e0-b793-8490cd956386",
                    "parameters": {
                      "country": "US"
                    },
                    "data": [
                      {
                        "name": "All Departments",
                        "id": "aps"
                      },
                      {
                        "name": "Alexa Skills",
                        "id": "alexa-skills"
                      },
                      {
                        "name": "Amazon Devices",
                        "id": "amazon-devices"
                      },
                      {
                        "name": "Appliances",
                        "id": "appliances"
                      },
                      {
                        "name": "Baby",
                        "id": "baby-products"
                      },
                      {
                        "name": "Beauty & Personal Care",
                        "id": "beauty"
                      },
                      {
                        "name": "Books",
                        "id": "stripbooks"
                      },
                      {
                        "name": "Cell Phones & Accessories",
                        "id": "mobile"
                      },
                      {
                        "name": "Clothing, Shoes & Jewelry",
                        "id": "fashion"
                      },
                      {
                        "name": "Electronics",
                        "id": "electronics"
                      },
                      {
                        "name": "Home & Kitchen",
                        "id": "garden"
                      },
                      {
                        "name": "Software",
                        "id": "software"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/deals": {
      "post": {
        "operationId": "amazonDeals",
        "summary": "Deals",
        "description": "Get current Amazon deals with price, discount, rating, and category filters. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (30 deals/page)",
                    "default": 1
                  },
                  "price_range": {
                    "type": "string",
                    "description": "Filter like ALL, UNDER_25, 25_50, 50_100, OVER_100",
                    "default": "ALL"
                  },
                  "discount_range": {
                    "type": "string",
                    "description": "ALL, 10_OFF, 25_OFF, 50_OFF, 70_OFF",
                    "default": "ALL"
                  },
                  "deal_type": {
                    "type": "string",
                    "description": "e.g. BEST_DEAL, LIGHTNING_DEAL"
                  },
                  "category": {
                    "type": "string",
                    "description": "Amazon category slug"
                  },
                  "min_rating": {
                    "type": "string",
                    "description": "Minimum star rating filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "01ad1c29-5bf1-4f80-b321-009f1a64fa4e",
                    "parameters": {
                      "country": "US",
                      "price_range": "ALL",
                      "discount_range": "ALL"
                    },
                    "data": {
                      "deals": [
                        {
                          "deal_id": "64fc3cf8",
                          "deal_type": "BEST_DEAL",
                          "deal_title": "Ring Battery Doorbell, Head-to-Toe Video, Live View with Two-Way Talk",
                          "deal_photo": "https://m.media-amazon.com/images/I/51IswCEoJXL.jpg",
                          "deal_state": "AVAILABLE",
                          "deal_url": "https://www.amazon.com/Ring-Battery-Doorbell/dp/B0BZWRSRWV",
                          "canonical_deal_url": "https://www.amazon.com/deal/64fc3cf8",
                          "deal_starts_at": null,
                          "deal_ends_at": null,
                          "deal_price": {
                            "amount": 59.99,
                            "currency": "USD"
                          },
                          "list_price": {
                            "amount": 99.99,
                            "currency": "USD"
                          },
                          "savings_percentage": 40,
                          "savings_amount": {
                            "amount": 40,
                            "currency": "USD"
                          },
                          "deal_badge": "40% off",
                          "type": "MULTI_ASIN",
                          "product_asin": "B0BZWRSRWV"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/influencer": {
      "post": {
        "operationId": "amazonInfluencer",
        "summary": "Influencer Profile",
        "description": "Get Amazon Live / Amazon Storefront metadata for an influencer by username. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "influencer_name": {
                    "type": "string",
                    "description": "Influencer's Amazon username (part after /shop/)"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  }
                },
                "required": [
                  "influencer_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "d245f5ee-8ca3-488e-9224-69336c6245fd",
                    "parameters": {
                      "influencer_name": "amazonhaul",
                      "country": "US"
                    },
                    "data": {
                      "name": null,
                      "country": "US",
                      "domain": "www.amazon.com",
                      "profile_link": "https://www.amazon.com/shop/amazonhaul",
                      "affiliate_status": null,
                      "has_curations": false
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product": {
      "post": {
        "operationId": "amazonProduct",
        "summary": "Product Details",
        "description": "Get full product details for any Amazon ASIN — title, description, images, pricing, offer box, and specs. Cost: $0.02/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asin": {
                    "type": "string",
                    "description": "Amazon Standard Identification Number (e.g. B07ZPKBL9V)"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  }
                },
                "required": [
                  "asin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "56ba58ed-368d-4cf5-8322-6e34a7d0e3d6",
                    "parameters": {
                      "asin": "B07ZPKBL9V",
                      "country": "US"
                    },
                    "data": {
                      "asin": "B07ZPKBL9V",
                      "product_title": "Apple iPhone 11, 64GB, PRODUCT RED - Unlocked (Renewed)",
                      "product_price": "169.00",
                      "product_original_price": "$174.64",
                      "delivery_price": "FREE",
                      "currency": "USD",
                      "country": "US",
                      "domain": "www.amazon.com",
                      "product_byline": "Visit the Amazon Renewed Store",
                      "product_star_rating": "4.2",
                      "product_num_ratings": 59992,
                      "product_url": "https://www.amazon.com/dp/B07ZPKBL9V",
                      "product_photo": "https://m.media-amazon.com/images/I/514k7uOBMwL._AC_SL1000_.jpg",
                      "product_num_offers": 33,
                      "product_availability": "Only 16 left in stock - order soon.",
                      "product_condition": "Refurbished - Excellent",
                      "offer_box_title": "Refurbished - Good",
                      "offer_box_price": "$159.00",
                      "is_best_seller": false,
                      "is_amazon_choice": false,
                      "is_prime": false,
                      "sales_volume": "200+ bought in past month",
                      "about_product": [
                        "Unlocked and compatible with any carrier of choice on GSM and CDMA networks.",
                        "Tested for battery health and guaranteed minimum 80% capacity.",
                        "Passed a full diagnostic test ensuring like-new functionality."
                      ],
                      "product_description": "The iPhone 11 features a 6.1-inch LCD 'Liquid Retina HD Display' at 326ppi with True Tone and wide color support.",
                      "product_information": {
                        "Operating System": "iOS 16",
                        "RAM Memory Installed": "4 GB",
                        "Memory Storage Capacity": "64 GB",
                        "Color": "(PRODUCT) RED",
                        "Form Factor": "Smartphone"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-offers": {
      "post": {
        "operationId": "amazonProductOffers",
        "summary": "Product Offers",
        "description": "Get all third-party seller offers for any Amazon ASIN, including price, condition, and shipping. Cost: $0.02/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asin": {
                    "type": "string",
                    "description": "Amazon ASIN"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Max offers (1–100)",
                    "default": 100
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number",
                    "default": 1
                  },
                  "product_condition": {
                    "type": "string",
                    "description": "ALL, NEW, USED, RENEWED, COLLECTIBLE",
                    "default": "ALL"
                  }
                },
                "required": [
                  "asin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "c9845825-48ba-4503-8890-ad17805df07c",
                    "parameters": {
                      "asin": "B07ZPKBL9V",
                      "country": "US",
                      "limit": 100,
                      "page": 1
                    },
                    "data": {
                      "asin": "B07ZPKBL9V",
                      "product_title": "Apple iPhone 11, 64GB, PRODUCT RED - Unlocked (Renewed)",
                      "product_price": "169.00",
                      "product_original_price": "$174.64",
                      "delivery_price": "FREE",
                      "currency": "USD",
                      "country": "US",
                      "domain": "www.amazon.com",
                      "product_byline": "Visit the Amazon Renewed Store",
                      "product_star_rating": "4.2",
                      "product_num_ratings": 59992,
                      "product_url": "https://www.amazon.com/dp/B07ZPKBL9V",
                      "product_num_offers": 33,
                      "product_availability": "Only 16 left in stock - order soon.",
                      "product_condition": "Refurbished - Excellent",
                      "is_prime": false,
                      "buy_boxes": [],
                      "sales_volume": "200+ bought in past month"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-reviews": {
      "post": {
        "operationId": "amazonProductReviews",
        "summary": "Product Reviews",
        "description": "Get customer reviews for any Amazon product with star filters, verified-purchase filter, and pagination. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asin": {
                    "type": "string",
                    "description": "Amazon ASIN"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "TOP_REVIEWS or MOST_RECENT",
                    "default": "TOP_REVIEWS"
                  },
                  "star_rating": {
                    "type": "string",
                    "description": "ALL, 5_STARS, 4_STARS, 3_STARS, 2_STARS, 1_STARS, POSITIVE, CRITICAL",
                    "default": "ALL"
                  },
                  "verified_purchases_only": {
                    "type": "boolean",
                    "description": "Only verified purchasers",
                    "default": false
                  },
                  "images_or_videos_only": {
                    "type": "boolean",
                    "description": "Only reviews with media",
                    "default": false
                  },
                  "current_format_only": {
                    "type": "boolean",
                    "description": "Only reviews for the current format/variation",
                    "default": false
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (7 reviews/page)",
                    "default": 1
                  }
                },
                "required": [
                  "asin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "272b8277-8deb-46c3-99ff-1948bcc081d8",
                    "parameters": {
                      "asin": "B07ZPKBL9V",
                      "sort_by": "TOP_REVIEWS",
                      "star_rating": "ALL",
                      "page": 1
                    },
                    "data": {
                      "asin": "B07ZPKBL9V",
                      "country": "US",
                      "domain": "www.amazon.com",
                      "total_ratings": 59992,
                      "rating_distribution": {
                        "1": 11,
                        "2": 3,
                        "3": 5,
                        "4": 12,
                        "5": 69
                      },
                      "reviews": [
                        {
                          "review_id": "RY89LJI770S2T",
                          "review_title": "Great price",
                          "review_comment": "Perfect replacement for my 13 year old daughter. Works perfectly.",
                          "review_star_rating": "5",
                          "review_link": "https://www.amazon.com/gp/customer-reviews/RY89LJI770S2T",
                          "review_author": "JEKurtz",
                          "review_author_avatar": "https://m.media-amazon.com/images/S/amazon-avatars-global/default.png",
                          "review_images": [],
                          "review_video": null,
                          "review_date": "Reviewed in the United States on March 8, 2026",
                          "is_verified_purchase": true,
                          "helpful_vote_statement": "5 people found this helpful",
                          "reviewed_product_asin": "B07ZPKBL9V",
                          "reviewed_product_variant": {
                            "Size": "64GB",
                            "Color": "White",
                            "Service provider": "Unlocked",
                            "Product grade": "Renewed"
                          },
                          "is_vine": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/products-by-category": {
      "post": {
        "operationId": "amazonProductsByCategory",
        "summary": "Products by Category",
        "description": "List Amazon products under any category node ID with filters for sort, price, and Prime. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "string",
                    "description": "Amazon category browse-node ID (numeric)"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "RELEVANCE, LOWEST_PRICE, HIGHEST_PRICE, REVIEWS, NEWEST, BEST_SELLERS",
                    "default": "RELEVANCE"
                  },
                  "product_condition": {
                    "type": "string",
                    "description": "ALL, NEW, USED, RENEWED, COLLECTIBLE",
                    "default": "ALL"
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (48 products/page)",
                    "default": 1
                  },
                  "is_prime": {
                    "type": "boolean",
                    "description": "Only Prime-eligible"
                  },
                  "deals_and_discounts": {
                    "type": "string",
                    "description": "Discount filter"
                  }
                },
                "required": [
                  "category_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "6dc35479-a1dc-45d4-828d-978ec94ebe61",
                    "parameters": {
                      "category_id": "2478868012",
                      "country": "US",
                      "sort_by": "RELEVANCE",
                      "page": 1
                    },
                    "data": {
                      "total_products": 975521,
                      "country": "US",
                      "domain": "www.amazon.com",
                      "products": [
                        {
                          "asin": "168281808X",
                          "product_title": "Untitled Empyrean (Not Book Four)",
                          "product_price": "$17.49",
                          "product_original_price": "$24.99",
                          "currency": "USD",
                          "product_star_rating": null,
                          "product_num_ratings": 0,
                          "book_format": "Hardcover",
                          "product_url": "https://www.amazon.com/dp/168281808X",
                          "product_photo": "https://m.media-amazon.com/images/I/716ogrQC-4L._AC_UL960_QL65_.jpg",
                          "product_num_offers": 1,
                          "product_minimum_offer_price": "$17.49",
                          "is_best_seller": false,
                          "is_amazon_choice": false,
                          "is_prime": false,
                          "has_variations": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/search": {
      "post": {
        "operationId": "amazonSearch",
        "summary": "Search",
        "description": "Search Amazon for products by keyword with filters for price, rating, Prime, and deals. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search keywords"
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (1-based)",
                    "default": 1
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code (US, GB, DE, CA, AU, IN, JP, FR, IT, ES, etc.)",
                    "default": "US"
                  },
                  "sort_by": {
                    "type": "string",
                    "description": "RELEVANCE, LOWEST_PRICE, HIGHEST_PRICE, REVIEWS, NEWEST, BEST_SELLERS",
                    "default": "RELEVANCE"
                  },
                  "product_condition": {
                    "type": "string",
                    "description": "ALL, NEW, USED, RENEWED, COLLECTIBLE",
                    "default": "ALL"
                  },
                  "is_prime": {
                    "type": "boolean",
                    "description": "Only return Prime-eligible products"
                  },
                  "deals_and_discounts": {
                    "type": "string",
                    "description": "Filter for discount tiers (e.g. ALL_DISCOUNTS)"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "15a2016d-c6a2-4b15-ab0b-7764d1cd25c1",
                    "parameters": {
                      "query": "Phone",
                      "country": "US",
                      "sort_by": "RELEVANCE",
                      "page": 1
                    },
                    "data": {
                      "total_products": 135961,
                      "country": "US",
                      "domain": "www.amazon.com",
                      "products": [
                        {
                          "asin": "B0DM1S54MZ",
                          "product_title": "Samsung Galaxy A16 4G LTE (128GB + 4GB) International Model, Unlocked, 6.7\", 50MP Triple Camera, Black",
                          "product_price": "$133.47",
                          "product_original_price": null,
                          "currency": "USD",
                          "product_star_rating": "4.4",
                          "product_num_ratings": 4084,
                          "product_url": "https://www.amazon.com/dp/B0DM1S54MZ",
                          "product_photo": "https://m.media-amazon.com/images/I/61Lp1UcxeLL._AC_UY654_QL65_.jpg",
                          "product_num_offers": 12,
                          "product_minimum_offer_price": "$126.80",
                          "is_best_seller": false,
                          "is_amazon_choice": true,
                          "is_prime": false,
                          "sales_volume": "4K+ bought in past month",
                          "has_variations": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/seller": {
      "post": {
        "operationId": "amazonSeller",
        "summary": "Seller Profile",
        "description": "Get a third-party Amazon seller's profile — name, business info, ratings, and review breakdown. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seller_id": {
                    "type": "string",
                    "description": "Amazon seller ID (e.g. A02211013Q5HP3OMSZC7W)"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  }
                },
                "required": [
                  "seller_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "01a5448d-6d26-4beb-a352-ff8eb99205f9",
                    "parameters": {
                      "seller_id": "A02211013Q5HP3OMSZC7W",
                      "country": "US"
                    },
                    "data": {
                      "seller_id": "A02211013Q5HP3OMSZC7W",
                      "country": "US",
                      "domain": "www.amazon.com",
                      "name": "MemoryWhiz",
                      "seller_link": "https://www.amazon.com/sp?seller=A02211013Q5HP3OMSZC7W",
                      "store_link": "https://www.amazon.com/s?ie=UTF8&marketplaceID=ATVPDKIKX0DER&me=A02211013Q5HP3OMSZC7W",
                      "logo": "https://m.media-amazon.com/images/I/01inXJbpK2L.gif",
                      "phone": "909-610-9170",
                      "business_name": "Alast Corporation",
                      "business_address": "20651 GOLDEN SPRINGS DRIVE Suite 111 Walnut CA 91789 US",
                      "rating": 4.9,
                      "ratings_total": 52177,
                      "ratings_total_percentage": 99,
                      "review_summary": {
                        "thirty_days": {
                          "positive_percent": 94,
                          "neutral_percent": 4,
                          "negative_percent": 2,
                          "count": 45
                        },
                        "ninety_days": {
                          "positive_percent": 97,
                          "neutral_percent": 1,
                          "negative_percent": 2,
                          "count": 183
                        },
                        "twelve_months": {
                          "positive_percent": 100,
                          "neutral_percent": 0,
                          "negative_percent": 0,
                          "count": 1107
                        },
                        "lifetime": {
                          "positive_percent": 99,
                          "neutral_percent": 0,
                          "negative_percent": 0,
                          "count": 52177
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/seller-reviews": {
      "post": {
        "operationId": "amazonSellerReviews",
        "summary": "Seller Reviews",
        "description": "Get reviews for a third-party Amazon seller with star-rating and verified-purchase filters. Cost: $0.01/call.",
        "tags": [
          "Amazon"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "seller_id": {
                    "type": "string",
                    "description": "Amazon seller ID"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO alpha-2 country code",
                    "default": "US"
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number (5 reviews/page)",
                    "default": 1
                  },
                  "star_rating": {
                    "type": "string",
                    "description": "ALL, 5_STARS, 4_STARS, 3_STARS, 2_STARS, 1_STARS, POSITIVE, CRITICAL",
                    "default": "ALL"
                  },
                  "verified_purchases_only": {
                    "type": "boolean",
                    "description": "Only verified purchasers",
                    "default": false
                  }
                },
                "required": [
                  "seller_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "status": "OK",
                    "request_id": "6c2f60f0-2322-4d79-9b82-a4a87e64b44d",
                    "parameters": {
                      "seller_id": "A02211013Q5HP3OMSZC7W",
                      "country": "US",
                      "page": 1,
                      "star_rating": "ALL"
                    },
                    "data": {
                      "seller_id": "A02211013Q5HP3OMSZC7W",
                      "country": "US",
                      "domain": "www.amazon.com",
                      "has_next_page": true,
                      "seller_reviews": [
                        {
                          "review_author": "Vadim p",
                          "review_comment": "I love this product and its smell. But this particular refill is a huge disappointment. The original had strong, lasting smell for weeks. These refills are DOA — all I get is aftersmell.",
                          "review_star_rating": 1,
                          "has_response": false,
                          "review_date": "April 24, 2026"
                        },
                        {
                          "review_author": "Skye c.",
                          "review_comment": "Came on time and not damaged",
                          "review_star_rating": 5,
                          "has_response": false,
                          "review_date": "April 24, 2026"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/author-finder": {
      "post": {
        "operationId": "emailAuthorFinder",
        "summary": "Author Finder",
        "description": "Find the email address of the author behind any article or blog post URL. Cost: $0.04/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL of the article or blog post to find the author of"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "contact": {
                      "acceptAll": false,
                      "company": null,
                      "companyDomain": null,
                      "confidenceScore": 0,
                      "country": null,
                      "department": null,
                      "disposable": false,
                      "email": null,
                      "firstName": null,
                      "fullName": null,
                      "gender": null,
                      "hasPhone": false,
                      "lastName": null,
                      "linkedin": null,
                      "position": null,
                      "seniority": null,
                      "sources": [],
                      "twitter": null,
                      "type": null,
                      "verificationStatus": null,
                      "verified": false,
                      "webmail": false
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/combined": {
      "post": {
        "operationId": "emailCombined",
        "summary": "Combined Enrichment",
        "description": "Get a structured person profile and full company profile from a single email address in one call. Cost: $0.04/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to enrich"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "company": {
                      "category": {
                        "industry": null,
                        "naicsCode": "51",
                        "sector": null,
                        "sicCode": "73"
                      },
                      "description": "stripe is a payment processing platform enabling businesses to accept payments and manage online transactions.",
                      "domain": "stripe.com",
                      "emails": [
                        "jordan@stripe.com",
                        "support@stripe.com",
                        "jobs@stripe.com",
                        "sales@stripe.com",
                        "recruiting@stripe.com",
                        "nick@stripe.com"
                      ],
                      "foundedYear": "2010",
                      "geo": {
                        "city": "San Francisco",
                        "country": "United States",
                        "countryCode": "US",
                        "postalCode": "94107",
                        "state": "California",
                        "streetAddress": "354 oyster point blvd"
                      },
                      "legalName": "Stripe",
                      "logo": null,
                      "metrics": {
                        "employees": "5K-10K",
                        "employeesRange": null,
                        "estimatedAnnualRevenue": "$100M-$250M"
                      },
                      "name": "Stripe",
                      "phones": null,
                      "social": {
                        "facebook": "stripehq",
                        "linkedin": "stripe",
                        "twitter": "stripe"
                      }
                    },
                    "person": {
                      "bio": null,
                      "email": "matthew.yalowitz@stripe.com",
                      "employment": {
                        "company": "Stripe",
                        "domain": "stripe.com",
                        "role": null,
                        "seniority": null,
                        "title": null
                      },
                      "firstName": "Matthew",
                      "fullName": "Matthew Yalowitz",
                      "gender": "male",
                      "geo": {
                        "city": null,
                        "country": "United States",
                        "countryCode": "US",
                        "state": null
                      },
                      "lastName": "Yalowitz",
                      "location": "US",
                      "social": {
                        "facebook": null,
                        "github": null,
                        "linkedin": "https://www.linkedin.com/in/myalowitz",
                        "twitter": null
                      }
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/company": {
      "post": {
        "operationId": "emailCompany",
        "summary": "Company Enrichment",
        "description": "Turn a domain into a structured company profile — industry codes, location, size, revenue, emails, and social handles. Cost: $0.03/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Company domain to enrich (e.g., stripe.com)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "company": {
                      "category": {
                        "industry": null,
                        "naicsCode": "51",
                        "sector": null,
                        "sicCode": "73"
                      },
                      "description": "stripe is a payment processing platform enabling businesses to accept payments and manage online transactions.",
                      "domain": "stripe.com",
                      "emails": [
                        "jordan@stripe.com",
                        "support@stripe.com",
                        "jobs@stripe.com",
                        "sales@stripe.com",
                        "recruiting@stripe.com",
                        "nick@stripe.com"
                      ],
                      "foundedYear": "2010",
                      "geo": {
                        "city": "San Francisco",
                        "country": "United States",
                        "countryCode": "US",
                        "postalCode": "94107",
                        "state": "California",
                        "streetAddress": "354 oyster point blvd"
                      },
                      "legalName": "Stripe",
                      "logo": null,
                      "metrics": {
                        "employees": "5K-10K",
                        "employeesRange": null,
                        "estimatedAnnualRevenue": "$100M-$250M"
                      },
                      "name": "Stripe",
                      "phones": null,
                      "social": {
                        "facebook": "stripehq",
                        "linkedin": "stripe",
                        "twitter": "stripe"
                      }
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/count": {
      "post": {
        "operationId": "emailCount",
        "summary": "Email Count",
        "description": "Get the number of email addresses available for a domain, broken down by department and seniority. Cost: $0.01/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to count emails for (e.g., stripe.com)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "byDepartment": {
                      "accounting": 27,
                      "administrative": 14,
                      "communication": 14,
                      "diversity": 2,
                      "education": 6,
                      "engineering": 284,
                      "executive": 112,
                      "facilities": 2,
                      "finance": 119,
                      "healthcare": 0,
                      "hr": 81,
                      "it": 102,
                      "legal": 39,
                      "management": 259,
                      "marketing": 166,
                      "operations": 159,
                      "pr": 13,
                      "sales": 222,
                      "security": 72,
                      "software": 584,
                      "support": 87,
                      "warehouse": 83
                    },
                    "bySeniority": {
                      "executive": 75,
                      "junior": 55,
                      "senior": 307
                    },
                    "genericEmails": 213,
                    "personalEmails": 4852,
                    "total": 5065
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/domain-search": {
      "post": {
        "operationId": "emailDomainSearch",
        "summary": "Domain Search",
        "description": "Find every email address on a company domain — names, positions, departments, confidence scores, plus a full company profile. Cost: $0.03 per 10 emails.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Company domain to search (e.g., stripe.com). Required unless company is provided."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name to search instead of a domain"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Number of emails to return (max 50)",
                    "default": 10
                  },
                  "page": {
                    "type": "number",
                    "description": "Page number for pagination",
                    "default": 1
                  },
                  "department": {
                    "type": "string",
                    "description": "Filter results by department (e.g., engineering, sales)"
                  },
                  "country": {
                    "type": "string",
                    "description": "Filter results by ISO country code (e.g., US)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "company": {
                      "acceptAll": true,
                      "description": "stripe is a payment processing platform enabling businesses to accept payments and manage online transactions.",
                      "domain": "stripe.com",
                      "emailPattern": "{first}",
                      "founded": "2010",
                      "industry": "Information Technology and Services",
                      "location": {
                        "address": "354 oyster point blvd",
                        "city": "San Francisco",
                        "country": "US",
                        "postalCode": "94107",
                        "state": "California"
                      },
                      "name": "Stripe",
                      "revenue": "$100M-$250M",
                      "size": "5K-10K",
                      "social": {
                        "facebook": "https://www.facebook.com/stripehq",
                        "github": "https://www.github.com/stripe",
                        "instagram": null,
                        "linkedin": "https://www.linkedin.com/company/stripe",
                        "twitter": "https://twitter.com/stripe",
                        "youtube": null
                      },
                      "type": "privately held"
                    },
                    "emails": [
                      {
                        "acceptAll": false,
                        "company": null,
                        "companyDomain": null,
                        "confidenceScore": 51,
                        "country": "US",
                        "department": null,
                        "disposable": false,
                        "email": "matthew.yalowitz@stripe.com",
                        "firstName": "Matthew",
                        "fullName": "Matthew Yalowitz",
                        "gender": "male",
                        "hasPhone": true,
                        "lastName": "Yalowitz",
                        "linkedin": "https://www.linkedin.com/in/myalowitz",
                        "position": null,
                        "seniority": null,
                        "sources": [],
                        "twitter": null,
                        "type": "personal",
                        "verificationStatus": null,
                        "verified": false,
                        "webmail": false
                      }
                    ],
                    "total": 5065
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/domain-status": {
      "post": {
        "operationId": "emailDomainStatus",
        "summary": "Domain Status",
        "description": "Check whether a domain is webmail, disposable, catch-all, or gibberish before you trust its email addresses. Cost: $0.01/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to check (e.g., stripe.com)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "acceptAll": false,
                    "disposable": false,
                    "domain": "stripe.com",
                    "gibberish": false,
                    "webmail": false
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/enrich": {
      "post": {
        "operationId": "emailEnrich",
        "summary": "Email Enrichment",
        "description": "Turn any email address into a full contact profile — name, company, location, social links, and verification status. Cost: $0.02/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to enrich"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "contact": {
                      "acceptAll": true,
                      "company": "Stripe",
                      "companyDomain": "stripe.com",
                      "confidenceScore": 26,
                      "country": "US",
                      "department": null,
                      "disposable": false,
                      "email": "matthew.yalowitz@stripe.com",
                      "firstName": "Matthew",
                      "fullName": "Matthew Yalowitz",
                      "gender": "male",
                      "hasPhone": true,
                      "lastName": "Yalowitz",
                      "linkedin": "https://www.linkedin.com/in/myalowitz",
                      "position": null,
                      "seniority": null,
                      "sources": [],
                      "twitter": null,
                      "type": "personal",
                      "verificationStatus": "invalid",
                      "verified": false,
                      "webmail": false
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/finder": {
      "post": {
        "operationId": "emailFinder",
        "summary": "Email Finder",
        "description": "Find a person's professional email address from their name and company domain, with a verified confidence score. Cost: $0.04/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Company domain to search on (e.g., stripe.com)"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the person"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the person"
                  },
                  "full_name": {
                    "type": "string",
                    "description": "Full name, as an alternative to first/last name"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name, used to help disambiguate"
                  }
                },
                "required": [
                  "domain",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "contact": {
                      "acceptAll": true,
                      "company": "Stripe",
                      "companyDomain": "stripe.com",
                      "confidenceScore": 99,
                      "country": null,
                      "department": null,
                      "disposable": false,
                      "email": "patrick@stripe.com",
                      "firstName": "Patrick",
                      "fullName": "Patrick Collison",
                      "gender": null,
                      "hasPhone": false,
                      "lastName": "Collison",
                      "linkedin": null,
                      "position": null,
                      "seniority": null,
                      "sources": [],
                      "twitter": null,
                      "type": null,
                      "verificationStatus": "valid",
                      "verified": true,
                      "webmail": false
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/format": {
      "post": {
        "operationId": "emailFormat",
        "summary": "Email Pattern",
        "description": "Discover the most common email address patterns used by a company domain, with usage percentages. Cost: $0.01/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain to detect email patterns for (e.g., stripe.com)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "patterns": [
                      {
                        "pattern": "{last}",
                        "percentage": 2
                      },
                      {
                        "pattern": "{first}.{last}",
                        "percentage": 9
                      },
                      {
                        "pattern": "{f}{l}",
                        "percentage": 2
                      },
                      {
                        "pattern": "{first}",
                        "percentage": 64
                      },
                      {
                        "pattern": "{f}{last}",
                        "percentage": 23
                      }
                    ]
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/linkedin-finder": {
      "post": {
        "operationId": "emailLinkedinFinder",
        "summary": "LinkedIn Finder",
        "description": "Find a verified email address from any LinkedIn profile URL, with position, company, and source data. Cost: $0.04/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "LinkedIn profile URL (e.g., https://www.linkedin.com/in/username)"
                  },
                  "full": {
                    "type": "boolean",
                    "description": "Return the full contact profile including sources",
                    "default": false
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "contact": {
                      "acceptAll": true,
                      "company": "Stripe",
                      "companyDomain": "stripe.com",
                      "confidenceScore": 100,
                      "country": "US",
                      "department": "marketing",
                      "disposable": false,
                      "email": "patrick@stripe.com",
                      "firstName": "Patrick",
                      "fullName": "Patrick Collison",
                      "gender": "male",
                      "hasPhone": true,
                      "lastName": "Collison",
                      "linkedin": "https://www.linkedin.com/in/patrickcollison",
                      "position": "social media marketing manager",
                      "seniority": null,
                      "sources": [
                        {
                          "domain": "microconf.gen.co",
                          "firstSeen": "2021-01-30T22:46:21+01:00",
                          "lastSeen": "2021-02-02T16:51:05+01:00"
                        },
                        {
                          "domain": "microconf.gen.co",
                          "firstSeen": "2021-01-30T22:46:22+01:00",
                          "lastSeen": "2021-02-02T16:51:06+01:00"
                        },
                        {
                          "domain": "microconf.gen.co",
                          "firstSeen": "2021-01-30T22:46:35+01:00",
                          "lastSeen": "2021-02-02T16:51:09+01:00"
                        },
                        {
                          "domain": "patrickcollison.com",
                          "firstSeen": "2021-01-30T23:24:37+01:00",
                          "lastSeen": "2023-10-24T11:31:14+02:00"
                        },
                        {
                          "domain": "patrickcollison.com",
                          "firstSeen": "2021-01-30T23:24:37+01:00",
                          "lastSeen": "2023-10-24T11:31:14+02:00"
                        },
                        {
                          "domain": "paganresearch.io",
                          "firstSeen": "2021-01-29T19:15:40+01:00",
                          "lastSeen": "2024-12-18T15:19:56+01:00"
                        },
                        {
                          "domain": "app.cxoreach.com",
                          "firstSeen": "2021-05-17T16:30:01+02:00",
                          "lastSeen": "2024-12-18T15:37:43+01:00"
                        },
                        {
                          "domain": "offerdos.com",
                          "firstSeen": "2021-06-13T08:37:39+02:00",
                          "lastSeen": "2021-06-13T22:58:27+02:00"
                        },
                        {
                          "domain": "docs.google.com",
                          "firstSeen": "2021-07-21T18:23:55+02:00",
                          "lastSeen": "2021-10-03T00:25:39+02:00"
                        },
                        {
                          "domain": "docs.betteruptime.com",
                          "firstSeen": "2021-12-22T14:48:43+01:00",
                          "lastSeen": "2022-01-23T18:15:58+01:00"
                        },
                        {
                          "domain": "web.archive.org",
                          "firstSeen": "2022-03-26T10:01:30+01:00",
                          "lastSeen": "2022-03-28T20:44:26+02:00"
                        },
                        {
                          "domain": "web.archive.org",
                          "firstSeen": "2022-03-26T10:03:52+01:00",
                          "lastSeen": "2022-03-28T20:44:30+02:00"
                        },
                        {
                          "domain": "functional.tools",
                          "firstSeen": "2023-09-17T14:07:44+02:00",
                          "lastSeen": "2023-10-24T20:54:56+02:00"
                        },
                        {
                          "domain": "patrickcollison.com",
                          "firstSeen": "2024-09-17T01:10:47+02:00",
                          "lastSeen": "2024-11-29T15:39:14+01:00"
                        },
                        {
                          "domain": "deliverabilityguide.com",
                          "firstSeen": "2024-09-20T03:54:56+02:00",
                          "lastSeen": "2024-12-21T12:32:03+01:00"
                        },
                        {
                          "domain": "www.surviving-tomorrow.com",
                          "firstSeen": "2025-02-13T17:15:18+01:00",
                          "lastSeen": "2025-03-08T11:27:22+01:00"
                        },
                        {
                          "domain": "www.surviving-tomorrow.com",
                          "firstSeen": "2025-02-13T16:52:51+01:00",
                          "lastSeen": "2025-03-08T12:49:52+01:00"
                        }
                      ],
                      "twitter": "https://twitter.com/patrickc",
                      "type": "personal",
                      "verificationStatus": "valid",
                      "verified": true,
                      "webmail": false
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/locations": {
      "post": {
        "operationId": "emailLocations",
        "summary": "Employee Locations",
        "description": "See where a company's employees are located — email contact counts broken down by country. Cost: $0.01/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Company domain to get employee locations for (e.g., stripe.com)"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "locations": [
                      {
                        "count": 4,
                        "country": "IN"
                      },
                      {
                        "count": 1,
                        "country": "HK"
                      },
                      {
                        "count": 2,
                        "country": "NL"
                      },
                      {
                        "count": 1,
                        "country": "GH"
                      },
                      {
                        "count": 1,
                        "country": "MY"
                      },
                      {
                        "count": 116,
                        "country": "IE"
                      },
                      {
                        "count": 16,
                        "country": "GB"
                      },
                      {
                        "count": 2,
                        "country": "ES"
                      },
                      {
                        "count": 4,
                        "country": "DE"
                      },
                      {
                        "count": 1,
                        "country": "SE"
                      },
                      {
                        "count": 10,
                        "country": "AU"
                      },
                      {
                        "count": 16,
                        "country": "CA"
                      },
                      {
                        "count": 9,
                        "country": "FR"
                      },
                      {
                        "count": 4015,
                        "country": "us"
                      },
                      {
                        "count": 1,
                        "country": "NO"
                      },
                      {
                        "count": 1,
                        "country": "IT"
                      },
                      {
                        "count": 4015,
                        "country": "US"
                      },
                      {
                        "count": 7,
                        "country": "JP"
                      },
                      {
                        "count": 1,
                        "country": "JM"
                      },
                      {
                        "count": 1,
                        "country": "TW"
                      },
                      {
                        "count": 17,
                        "country": "SG"
                      },
                      {
                        "count": 1,
                        "country": "PH"
                      }
                    ]
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/person": {
      "post": {
        "operationId": "emailPerson",
        "summary": "Person Enrichment",
        "description": "Turn an email address into a structured person profile — name, employment, location, and social handles. Cost: $0.03/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of the person to enrich"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "person": {
                      "bio": null,
                      "email": "matthew.yalowitz@stripe.com",
                      "employment": {
                        "company": "Stripe",
                        "domain": "stripe.com",
                        "role": null,
                        "seniority": null,
                        "title": null
                      },
                      "firstName": "Matthew",
                      "fullName": "Matthew Yalowitz",
                      "gender": "male",
                      "geo": {
                        "city": null,
                        "country": "United States",
                        "countryCode": "US",
                        "state": null
                      },
                      "lastName": "Yalowitz",
                      "location": "US",
                      "social": {
                        "facebook": null,
                        "github": null,
                        "linkedin": "https://www.linkedin.com/in/myalowitz",
                        "twitter": null
                      }
                    }
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/phone-finder": {
      "post": {
        "operationId": "emailPhoneFinder",
        "summary": "Phone Finder",
        "description": "Find a contact's phone number from an email address, domain, or LinkedIn profile — with formats, line type, and timezone. Cost: $0.10/call.",
        "tags": [
          "Other"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to find a phone number for"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Company domain to find a phone number for"
                  },
                  "linkedin": {
                    "type": "string",
                    "description": "LinkedIn profile URL to find a phone number for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {}
                  }
                },
                "example": {
                  "data": {
                    "carrier": null,
                    "countryCode": "US",
                    "domain": "stripe.com",
                    "e164Format": "+13015882564",
                    "email": "matthew.yalowitz@stripe.com",
                    "intlFormat": "+1 301-588-2564",
                    "lineType": "FIXED_LINE_OR_MOBILE",
                    "localFormat": "(301) 588-2564",
                    "timezones": [
                      "America/New_York"
                    ],
                    "valid": true
                  },
                  "ok": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/email/phone-validator": {
      "post": {
        "operationId": "emailPhoneValidator",
        "summary": "Phone Validator",
[...]
